# dependencies
/node_modules
/client/node_modules
/client-2/node_modules

# production builds
/client/build
/client-2/dist

# environment
.env
.env.local
.env.*.local
client/.env
client-2/.env

# testing
/coverage

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
