@use '../styles/variables' as *;

.product-grid {
  display: grid;
  gap: $space-6;

  &--grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  &--list {
    grid-template-columns: 1fr;

    .product-card {
      &__link {
        flex-direction: row;
      }

      &__image-wrap {
        width: 200px;
        min-width: 200px;
        aspect-ratio: 1;
      }
    }
  }
}
